.delivery-card {
    &__seller {
        padding: 20px;
        border-bottom: 1px solid $LGray3;

        @media screen and (min-width: 451px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @media screen and (max-width: 575px) {
            padding: 16px;
        }
    }

    &__seller-info {
        display: flex;
        align-items: center;

        @media screen and (max-width: 575px) {
            flex-direction: column;
            align-items: baseline;
        }
        @media screen and (max-width: 450px) {
            margin-bottom: 16px;
        }

        .cart__account {
            margin-right: 8px;

            @media screen and (max-width: 991px) {
                @include adaptiv-value("margin-right", 35, 10, 1);
            }
        }

        .cart__about {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: $DGray;
        }
    }

    &__btn {
        padding: 7px 14px;
    }

    &__body {
        .nav-tabs {
            padding: 27px 20px 23px;
            border-color: $LGray3;
            flex-wrap: nowrap;
            overflow-x: auto;

            &__item {
                @include adaptiv-value("padding-right", 34, 20, 1);
            }

            .nav-link {
                border: none;
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                color: $Black;
                position: relative;
                padding: 0 0 10px;
                white-space: nowrap;

                &::before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: $GreenM;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: scale(0);
                    transition: 0.3s ease all 0s;
                }

                &.active {
                    &::before {
                        transform: scale(1);
                    }
                }
            }
        }

        .application-card__table {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: $DGray;

            @media screen and (max-width: 575px) {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        tbody {
            @media screen and (max-width: 575px) {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

            .table__row {
                @media screen and (max-width: 575px) {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    border-bottom: 1px solid $LGray3;

                    .delivery-card__column--name {
                        flex: 0 0 100%;
                    }

                    .delivery-card__column--price {
                        flex: 1 1 auto;
                        text-align: left;
                        padding-left: 16px;
                    }

                    .delivery-card__column--weight {
                        flex: 0 0 10%;
                        text-align: left;
                    }

                    .delivery-card__column--sum {
                        flex: 0 0 40%;
                    }
                }

                .table__column {
                    padding: 8px 5px;

                    @media screen and (min-width: 576px) {
                        padding: 10px 5px;
                        border-bottom: 1px solid $LGray3;
                    }

                    &:first-child {
                        padding-left: 20px;

                        @media screen and (max-width: 575px) {
                            padding-left: 16px;
                        }
                    }

                    &:last-child {
                        padding-right: 20px;

                        @media screen and (max-width: 575px) {
                            padding-right: 16px;
                        }
                    }
                }
            }
        }

        tfoot {
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;

            .table__row {
                @media screen and (max-width: 575px) {
                    display: flex;
                    width: 100%;
                }

                .table__column {
                    padding: 22px 5px;

                    &:first-child {
                        padding-left: 22px;

                        @media screen and (max-width: 575px) {
                            padding-left: 16px;
                        }
                    }

                    &:last-child {
                        padding-right: 21px;

                        @media screen and (max-width: 575px) {
                            padding-right: 16px;
                        }
                    }
                }
            }
        }
    }

    &__column--price {
        text-align: right;
        white-space: nowrap;
    }

    &__column--weight {
        text-align: right;
        white-space: nowrap;
    }

    &__column--sum {
        font-weight: 600;
        text-align: right;
        white-space: nowrap;
    }

    &__column--sum-num {
        flex: 1 1 auto;
    }

    &__column--sum-weight {
        text-align: right;
        white-space: nowrap;
    }

    &__column--sum-price {
        text-align: right;
        white-space: nowrap;
    }
}