.pagination {
    display: flex;
    align-items: center;
    background: $White;
    padding: 8px 12px;
    margin: 0;

    &__item {
        margin-right: 7px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        padding: 0 3px;
        font-weight: 600;
        color: $Black;
        position: relative;
        transition: 0.3s ease all 0s;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $GreenM;
            transform: translate(0, 9px) scale(0);
            transition: 0.3s ease all 0s;
        }

        &.active {
            color: $GreenM;

            &::after {
                transform: translate(0, 9px) scale(1);
            }
        }

        i {
            display: flex;
            align-items: center;
        }
    }

    &--fixed {
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
        position: fixed;
        @include adaptiv-value("right", 36, 15, 1);
        @include adaptiv-value("bottom", 36, 15, 1);
    }
}