body {
    font-family: $fontMain;
    font-weight: $fontWeight;
    font-size: 16px;
    line-height: 21px;
    color: $Black;
    overflow-x: hidden;

    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: #909090;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #363636;
    }

    &.lock {
        overflow: hidden;
    }
}

.site {
    &__wrap {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__main {
        padding: $size-header-height 0px 0px 0px;
        background-color: $LGray4;

        @media screen and (max-width: 767px) {
            padding: $size-header-height-mobile 0px 0px 0px;
        }
    }

    &__footer {
        margin-top: auto;
    }
}

.container {
    max-width: #{$size-container + px};
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $layoutDesktop + "px") {
        max-width: 88%;
    }
    @media screen and (min-width: 992px) {
        padding: 0 30px;
    }

    &-fluid {
        padding: 0 20px;

        @media screen and (min-width: 992px) {
            padding: 0 30px;
        }
    }
}

.row {
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-link {
    font-weight: 500;
    color: $GreenM;
    position: relative;
    transition: 0.3s ease opacity 0s;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-bottom: 2px dashed $Green;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        transition: 0.3s ease opacity 0s;
    }

    @media screen and (min-width: 992px) {
        &:hover {
            opacity: 0.6;

            &::before {
                opacity: 0.6;
            }
        }
    }
}

.link-dashed {
    position: relative;
    transition: 0.3s ease color 0s;

    @media screen and (min-width: 992px) {
        &:hover {
            color: $Blue;

            &::after {
                border-bottom-color: $Blue;
            }
        }
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed $Black;
        position: absolute;
        bottom: -2px;
        left: 0;
        transition: 0.3s ease border-color 0s;
    }
}

.copy-link {
    i {
        font-size: 18px;
        margin-left: 6px;
        color: $Gray;
    }
}

.table {
    td,
    th {
        padding: 0;
        border-top: 0;
    }
}

.slick-slider {
    position: relative;

    .slick-arrow {
        background-color: transparent;
        font-size: 28px;
        display: inline-flex;
        color: rgba($color: $White, $alpha: 0.5);
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        &:focus {
            outline: 0;
        }
    }

    .slick-prev {
        left: 0;
        z-index: 1;
    }

    .slick-next {
        right: 0;
    }
}

.disabled {
    opacity: 0.6;
    pointer-events: none !important;
}

